footer {
    background-color: #1a1a1a;
    height: 40vh;
    display: flex;
    justify-content: space-around;
}

footer h3 {
    color: white;
    padding-left: 0.4rem;
}

.socials {}

.linksWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
}

.linksContainer {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    border-left: 1px solid lightgray;
    padding-left: 2rem;
    margin-inline: 2rem;
}

.linksContainer:first-of-type {
    border-left: none;
    padding-left: 0;
    margin-left: 0;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.links a {
    text-decoration: none;
    color: gray;
    padding: 0.2rem 0.4rem;
}