.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
    width: 100%;

    .about-header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: clamp(20rem, 80%, 60rem);
        margin: 0 0 5rem 0;
        color: #fff;

        h2 {}
    }
}