.smallBanner {
    z-index: -2;
    height: 100%;
    position: relative;
    left: 50%;
    width: 100%;
    transform: translate(-50%);
    user-select: none;
    object-fit: cover;
    filter: blur(3px);
    overflow: hidden;
}

.smallBanner-wrapper {
    height: 12vh;
    height: 12svh;
    width: 100%;
}